@model CategoryModel

@using HGT.Core.Models
@using HGT.Core;

@{    
    ViewBag.Title = Model.Name;
}

@section styles{
    <link href="@Url.Content("~/content/menu-list.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/magnific-popup.css")" rel="stylesheet">
}

<div id="wr-two-col" class="row">
    <div class="col-sm-3">
        @{Html.RenderAction("_ListCategories", "Category");}
    </div>
    <div class="col-sm-9">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            @* <li>@Html.RouteLink("Sản phẩm", "ListAllCategories")</li>*@
            <li>@Model.Name</li>
        </ol>
        <div class="clearfix"></div>
        <!-- /breadcrumb -->
        <!-- brief -->
        @if (!string.IsNullOrEmpty(Model.Brief))
        {

            <div class="wr-product-brief">
                @Html.Raw(Model.Brief)
                <div class="clearfix"></div>
            </div>
        }
        <!-- /brief -->
        <!-- description -->
        @*@if (!string.IsNullOrEmpty(Model.Description))
        {

            <div class="wr-product-description">
                @Html.Raw(Model.Description)
                <div class="clearfix"></div>
            </div>
        }*@
        <!-- /description -->
        <!-- product list -->
        @if (Model.Products != null && Model.Products.Count > 0)
        {
            <div class="wr-product-list" style="padding-top: 15px">
                <div class="section-title">
                    <h4>Sản phẩm</h4>
                </div>
                @foreach (var item in Model.Products)
                {
                    @Html.Partial("_ProductBox", item)     
                }
                <div class="clearfix"></div>
            </div>
        }
        <!-- /product list -->
        <!-- product tabs -->
        <div class="wr-product-tab">
            <ul class="nav nav-tabs">
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <li><a href="#details" data-toggle="tab">Thông tin chi tiết</a></li>
                }
                @if (Model.EnableGallery && Model.TotalGallery > 0)
                {
                    <li><a href="#gallery" data-toggle="tab">Thư viện</a></li>
                }
            </ul>
            <div class="tab-content">
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <div class="tab-pane fade" id="details">
                        @Html.Raw(Model.Description)
)
                    </div>
                }
                @*@if (!string.IsNullOrEmpty(Model.Solution))
                {
                    <div class="tab-pane fade" id="solution">
                        @Html.Raw(Model.Solution)
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.KeyBenefit))
                {
                    <div class="tab-pane fade" id="benefit">
                        @Html.Raw(Model.KeyBenefit)
                    </div>
                }
                @if (Model.EnablePrintCapbility && Model.TotalPrint > 0)
                {
                    <div class="tab-pane fade" id="print">
                        @foreach (var gallery in Model.Prints)
                        {
                            if (!gallery.IsVideo)
                            {

                            <div class="col-sm-3">
                                <div class="single-items">
                                    <img src="@Globals.AbsoluteThumbPath(ConstantKeys.GalleryFolder, gallery.Thumbnail)" alt="@gallery.FileName" 
                                        data-at2x="@Globals.AbsoluteImagePath(ConstantKeys.GalleryFolder, gallery.Thumbnail)" />
                                    <h4>@gallery.FileName</h4>
                                </div>
                            </div>
                            }
                            else
                            {

                            <div class="col-sm-3">
                                <div class="single-items">
                                    <img class="portfolio-video" src="@Globals.AbsoluteThumbPath(ConstantKeys.GalleryFolder, gallery.Thumbnail)"  alt="@gallery.FileName"
                                            data-at2x="@Globals.AbsoluteThumbPath(ConstantKeys.GalleryFolder, gallery.Thumbnail)" data-portfolio-video="@Globals.ResolveClientUrl(gallery.Url)" />
                                    <i class="icon-circle single-items-icon fa fa-play"></i>
                                    <h4>@gallery.FileName</h4>
                                </div>
                            </div>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                }*@
                @if (Model.EnableGallery && Model.TotalGallery > 0)
                {

                    <div class="tab-pane fade" id="gallery">
                        @foreach (var gallery in Model.Galleries)
                        {
                            if (!gallery.IsVideo)
                            {

                            <div class="col-sm-3">
                                <div class="inner">
                                    <img src="@Globals.AbsoluteThumbPath(ConstantKeys.GalleryFolder, gallery.Thumbnail)" alt="@gallery.FileName" 
                                        data-at2x="@Globals.AbsoluteImagePath(ConstantKeys.GalleryFolder, gallery.Thumbnail)" />
                                    <h4>@gallery.FileName</h4>
                                </div>
                            </div>
                            }
                            else
                            {

                            <div class="col-sm-3">
                                <div class="single-items">
                                    <img class="portfolio-video" src="@Globals.AbsoluteThumbPath(ConstantKeys.GalleryFolder, gallery.Thumbnail)"  alt="@gallery.FileName"
                                            data-at2x="@Globals.AbsoluteThumbPath(ConstantKeys.GalleryFolder, gallery.Thumbnail)" data-portfolio-video="@Globals.ResolveClientUrl(gallery.Url)" />
                                    <i class="icon-circle single-items-icon fa fa-play"></i>
                                    <h4>@gallery.FileName</h4>
                                </div>
                            </div>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                }

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- /product tabs -->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.wr-product-list .inner p').responsiveEqualHeightGrid();

            if ($('ul.nav-tabs').has('li').length > 0) {
                $('.nav-tabs li:first').addClass('active');
                $('.tab-content .tab-pane:first').addClass('active in');
            }
            else {
                $('ul.nav-tabs').parent().hide();
            }

            
        });
    </script>
    <script src="@Url.Content("~/scripts/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.flexslider-min.js")"></script>
    <script src="@Url.Content("~/scripts/masonry.pkgd.min.js")"></script>
    <script type="text/javascript">
        $(window).load(function () {
            // image popup  
            $('#gallery img, #print img').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: 'The image could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.siblings('h4').text();
                    }
                },
                callbacks: {
                    elementParse: function (item) {
                        if (item.el.hasClass('portfolio-video')) {
                            item.type = 'iframe';
                            item.src = item.el.data('portfolio-video');
                        }
                        else {
                            item.type = 'image';
                            item.src = item.el.attr('data-at2x');
                        }
                    }
                }
            });
        });
    </script>
}