@model HGT.Core.Models.BannerModel

@using Kendo.Mvc.UI;
@using HGT.Core;
@using HGT.Core.Utility;
@using HGT.Core.Extensions;
@{
    var pageTitle = Model.Id > 0 ? "Cập nhật slide" : "Thêm mới slide";
    ViewBag.Title = pageTitle;
    var redirectUrl = ViewBag.RedirectUrl;
}

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i>@StringTable.Home</a></li>
        <li class="active">@(Model.Id > 0 ? Model.Title : "Thêm mới slide")</li>
    </ol>
</section>

<section class="content">
    @using (Html.BeginForm("Input", "Banner", FormMethod.Post, new { @id = "editForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-xs-12" style="padding-bottom: 12px;">
                <button type="button" class="btn btn-danger pull-right" onclick="cancel();"><i class="fa fa-fw fa-credit-card"></i>@StringTable.Cancel</button>
                <button type="submit" class="btn btn-primary pull-right btnSave" style="margin-right: 5px;"><i class="fa fa-fw fa-save"></i>@StringTable.Save</button>
            </div>
        </div>          
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.Title) <span>*</span>
                </div>
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <p class="help-block">
                    @Html.ValidationMessageFor(model => Model.Title, null, new { @class = "" })
                </p>
            </div>
        </div>       
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.Description)
                </div>
            </div>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @row = "3" })
            </div>
        </div>         
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.FileName)
                    <br />(550 x 450)
                </div>
            </div>
            <div class="col-md-9">
                <div class="uploadFile">
                    @Html.TextBoxFor(model => model.ImageUpload, new { @type = "file", @onchange = "uploadImage(this)", @accept = "image/*", @style = "float:left;color:transparent;width:150px;", @datavalextension = "Invalid file extension", @datavalregex = ".jpg|.png|.gif|.bmp$" })
                    @Html.ValidationMessageFor(model => Model.FileName, null, new { @class = "" })
                </div>
                <div class="img_thumb">
                    <img id="ImagePath"  src="@Url.Content(Model.ImagePath)" />
                    <img id="LoadingImage" src="@Url.Content("~/Areas/Admin/Content/img/loading-violet.gif")" style="display: none;" alt="loading..." />
                </div>
                @Html.HiddenFor(x => x.FileName)
            </div>
        </div>  
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.Link)
                </div>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(mode => Model.Link, new { @class = "form-control" })
            </div>
        </div>  
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.OpenLink)
                </div>
            </div>
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.OpenLink,  new { @class = "multi" })
                <span class="lbl"></span>
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.DisplayOrder)
                </div>
            </div>
            <div class="col-md-5 ">
                @(Html.Kendo().NumericTextBox<int>().Name("DisplayOrder").Format("#").Value(Model.DisplayOrder))
            </div>
            <div class="col-md-4">
                <p class="help-block">
                    @Html.ValidationMessageFor(model => Model.DisplayOrder, null, new { @class = "" })
                </p>
            </div>
        </div>   
        <div class="row form-group">
            <div class="col-md-3  no-padding-right">
                <div class="pull-right">
                    @Html.LabelFor(model => model.IsActive)
                </div>
            </div>
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsActive,  new { @class = "multi" })
                <span class="lbl"></span>
            </div>
        </div>                       
        <div class="row">
            <div class="col-xs-12" style="padding-top: 12px;">
                <button type="button" class="btn btn-danger pull-right" onclick="cancel();"><i class="fa fa-fw fa-credit-card"></i>@StringTable.Cancel</button>
                <button type="submit" class="btn btn-primary pull-right btnSave" style="margin-right: 5px;"><i class="fa fa-fw fa-download"></i>@StringTable.Save</button>
            </div>
        </div>        
    }
</section>

<input type="hidden" id="formInformation" data-id="@Model.Id" data-image-upload-url="/admin/banner/uploadImage" />

@section scripts{
    
    <script src="/Utility/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/Utility/ckfinder/ckfinder.js" type="text/javascript"></script>
    <script src="/Utility/hgt.editor.js" type="text/javascript"></script>
    <script src="/Utility/init.editor.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jsValidation")

    <script type="text/javascript">
        var frm = $('#editForm');
        $(document).ready(function () {

            $(".sidebar-menu li.liBanner").addClass("active");

            $('.btnSave').click(function (e) {
                if (!$('#FileName').val()) {
                    ConfirmMessageBox(null, "Please input a file for upload.", function () { }, false);
                    return false;
                }

                if (frm.valid() === false) { return false; }                

                $.ajax({
                    url: frm.attr('action'),
                    type: frm.attr('method'),
                    data: frm.serialize(),
                    dataType: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data.Status == 1)
                            ConfirmMessageBox(null, data.Message, onClosePopup, false);
                        else
                            ConfirmMessageBox(null, data.Message, function () { }, false);
                    },
                    complete: function () { }
                });
                return false;
                e.preventDefault();
            });

            frm.submit(function () {
                return false;
            })

        });

        var siteUrl = "/admin/banner";

        function cancel() { window.location = siteUrl; return false; }

        function onClosePopup(e) { window.location = siteUrl; return false; }

    </script>
    <script>
        var fInfo = $("#formInformation");
        var UPLOADURL = fInfo.attr("data-image-upload-url");

        function uploadImage(node) {
            if (!validFileExtension($(node), 'datavalregex', 'section.clo_right', 'datavalextension'))
                ConfirmMessageBox(null, "Please insert an image file...", function () { }, false);

            doUploadFile(UPLOADURL, 'ImageUpload', 'LoadingImage', { id: '@(Model.Id)' },
                function (result) {
                    if (result.ImagePath) {
                        $("#FileName").val(result.FileName);
                        $("#Link").val(result.ImagePath);
                        $("#ImagePath").attr('src', result.ImagePath).show();
                    }
                });
        }

    </script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/uploadImage.js")"></script>
    <script src="@Url.Content("~/Scripts/ajaxfileupload.js")"></script>
}