@model CheckoutModel
@using HGT.Web.Models
@using System.Web

<div class="frmCheckOut">
    @using (Ajax.BeginForm("_CheckoutInFormCart", "CheckOut", FormMethod.Post, new AjaxOptions
    {
        UpdateTargetId = "result",
        //LoadingElementId = "loading", 
        OnBegin = "onBegin",
        OnSuccess = "onSuccess",
        OnComplete = "onComplete",
        InsertionMode = InsertionMode.Replace
    }))
    {
         @Html.AntiForgeryToken()
         @Html.ValidationSummary(true)

        <ul>
            <li>
                <label for="fullName">Tên khách hàng: <span class="note">*</span></label>
                @Html.TextBoxFor(x => x.FullName, new { @class = "inputText required" })
                @Html.ValidationMessageFor(x => x.FullName)
            </li>
            <li>
                <label for="phone">Điện thoại: <span class="note">*</span></label>
                @Html.TextBoxFor(x => x.Phone, new { @class = "inputText required" })
                @Html.ValidationMessageFor(x => x.Phone)
            </li>
            <li>
                <label for="email">Email:</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "inputText" })
                @Html.ValidationMessageFor(x => x.Email)
            </li>
            <li>
                <label for="shippingAddress">Địa chỉ giao hàng: <span class="note">*</span></label>
                @Html.TextBoxFor(x => x.ShippingAddress, new { @class = "inputText required" })
                @Html.ValidationMessageFor(x => x.ShippingAddress)
            </li>
            <li style="margin: 18px 0 10px;">
                <label>&nbsp;</label>
                <span class="note">*</span> Thông tin bắt buộc 
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" id="btnSendOrder" value="Gửi" />
            </li>
        </ul>
    }
</div>
