@model IEnumerable<CategoryViewModel>

@using HGT.Web.Extensions
@using System.Collections
@using HGT.Web.Models
@using HGT.Core;

@*<ul class="nav-submenu">
    <li class="nav-submenu-item"><a href="#">Lorem ipsum sub1</a>
        <ul class="nav-submenu2">
            <li class="nav-submenu-item2"><a href="#">Lorem ipsum sub2</a> </li>
            <li class="nav-submenu-item2"><a href="#">Lorem ipsum sub2</a> </li>
            <li class="nav-submenu-item2"><a href="#">Lorem ipsum sub2</a> </li>
            <li class="nav-submenu-item2"><a href="#">Lorem ipsum sub2</a> </li>
        </ul>
    </li>

    <li class="nav-submenu-item"><a href="#">Lorem ipsum sub1</a> </li>
    <li class="nav-submenu-item"><a href="#">Lorem ipsum sub1</a> </li>
    <li class="nav-submenu-item"><a href="#">Lorem ipsum sub1</a> </li>
</ul>*@

@if (Model != null && Model.Count() > 0)
{
    <ul class="nav-submenu">
        @foreach (var item in Model)
        {
            <li class="nav-submenu-item"><a href="@Globals.ResolveClientUrl(@item.Alias)">@item.Name</a>
                @if (item.Childrens != null && item.Childrens.Count > 0)
                {
                    <ul class="nav-submenu2">
                        @foreach (var cateChildL1 in item.Childrens)
                        {
                            var cateChildModelL1 = cateChildL1.ToModel();
                            <li class="nav-submenu-item2">
                                <a href="@Globals.ResolveClientUrl(cateChildModelL1.Alias)">@cateChildModelL1.Name</a>
                                @*@if (cateChildModelL1.Childrens != null && cateChildModelL1.Childrens.Count > 0)
                                {
                                    <ul>
                                        @foreach (var cateChildL2 in cateChildModelL1.Childrens)
                                        {
                                            <li>
                                                <a href="@Globals.ResolveClientUrl(cateChildL2.Alias)">@cateChildL2.Name</a>
                                            </li>
                                        }
                                    </ul>
                                }*@
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}