@using HGT.Core;
@using HGT.Core.Utility;

@{
    var appSetting = AppSettings.Settings;
    var pathFile = Globals.ImagePath(appSetting.LogoURL);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | @appSetting.SiteName</title>
    <link rel="stylesheet" href="@Url.Content("~/Themes/Ecom/Content/fontreg.css")" />
    @Styles.Render("~/Content/cssEcom")
    <!--[if lt IE 9]>
    <script src="~/Themes/Ecom/Content/scripts/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container" >
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i>@appSetting.CompanyPhone</a></li>
                                <li><a href="mailto:@appSetting.CompanyEmail"><i class="fa fa-envelope"></i>@appSetting.CompanyEmail</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        <div class="logo pull-left">
                            <a href="/" title ="@Globals.GenerateAlias(appSetting.SiteName)">
                                <img src="@pathFile" alt="@Globals.GenerateAlias(appSetting.SiteName)" /></a>
                        </div>
                        <!--
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									USA
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Canada</a></li>
									<li><a href="#">UK</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									DOLLAR
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Canadian Dollar</a></li>
									<li><a href="#">Pound</a></li>
								</ul>
							</div>                        
						</div>
                        -->
                        <div class="shop-menu pull-right">
                           
                            <ul class="nav navbar-nav">
                                @*<li><a href="cart.html"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a></li>*@
                                 <li>@{Html.RenderAction("_CartSummary", "ShoppingCart");}</li>
                                @*<li><a href="login.html"><i class="fa fa-lock"></i>Login</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 no-padding">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        @{Html.RenderAction("_NavMenu", "Common");}
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <!--/header-->
    @RenderSection("slideBanner", required: false)
    <!--/slider-->
    <section>
        @RenderBody()
    </section>
    <div class="clearfix"></div>
    @{Html.RenderAction("_Footer", "Common");}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
     <div id="divLoading" class="loading" style="display: none;"> </div>
    <!--/Footer-->
    @Scripts.Render("~/bundles/jsEcom")
    @Scripts.Render("~/bundles/jsValidation")
    <script>
        $(window).on('hidden.bs.modal', function () {
            $('#myModal').empty().hide();
        });
    </script>    
    @RenderSection("scripts", required: false)
</body>
</html>
