@*<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="/" title="Hjem">Trang chủ</a></li>
        <li class="nav-item">@Html.RouteLink("Giới thiệu", "Introduction")</li>
        <li class="nav-item">@Html.RouteLink("Sản phẩm", "ListAllCategories")
             @{Html.RenderAction("_NavMenuCategories", "Category");}
        </li>
        <li class="nav-item">@Html.RouteLink("Tin tức", "News")</li>
        <li class="nav-item">@Html.RouteLink("Liên hệ", "Contact")</li>
    </ul>
</nav>
<!-- /Nav -->
<div class="clear"></div>*@
<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a href="/" >Trang chủ</a></li>
        @{Html.RenderAction("_NavMenuCategories", "Category");}
        @*<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a href="shop.html">Products</a></li>
                <li><a href="product-details.html">Product Details</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a href="blog.html">Blog List</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
        </li>
        <li><a href="404.html">404</a></li>*@
        <li>@Html.RouteLink("Liên hệ", "Contact")</li>
    </ul>
</div>
