@{
    ViewBag.Title = "Danh sách sản phẩm";
    var categories = ViewData["ListCategory"] as List<SelectListItem>;
    var categoryId = ViewData["CategoryId"] as string;
}

@using HGT.Admin;
@using HGT.Core;

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i>@StringTable.Home</a></li>
        <li class="active">Quản lý sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">
                        <a class="btn btn-primary" href="/admin/product/input">
                            <i class="fa fa-plus-square fa-fw"></i>@StringTable.AddNew
                        </a>
                    </div>
                    <div class="box-filter">
                        <select id="listCategories" onchange="onChange();" class="form-control">
                            @foreach (var item in categories)
                            {
                                if (item.Value.Equals(categoryId))
                                {
                            <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                            <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="box-tools">
                        <div class="input-group">
                            @{Html.RenderPartial("~/Areas/Admin/Views/Product/_Search.cshtml");}
                        </div>
                    </div>
                </div>
                <div id="grid" class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="k-header" data-field="Name" data-title="Name" scope="col">Tên sản phẩm</th>
                                <th class="k-header txt-center" data-field="ThumbPath" data-title="ThumbPath" scope="col">Thumbnail</th>
                                <th class="k-header txt-center" data-field="DisplayOrder" data-title="DisplayOrder" scope="col">Thứ tự</th>
                                <th class="k-header txt-center" data-field="IsActive" data-title="IsActive" scope="col">Hiển thị</th>
                                <th class="k-header txt-center" data-field="TotalGallery" data-title="TotalGallery" scope="col">Thư viện</th>
                                <th class="k-header txt-center" data-field="CreatedDate" data-title="CreatedDate" scope="col">Ngày tạo</th>
                                <th scope="col" class="txt-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="t-no-data">
                                <td colspan="7">@StringTable.NotFoundItem</td>
                            </tr>
                        </tfoot>
                    </table>
                    @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_GridPager.cshtml");}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    @*<div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">NOTE</h3>
                </div>
                <div class="box-body">
                    <ol>
                        <li>Cột "Display Order": là thứ tự  hiển thị</li>
                        <li>Cột "Active": Những sản phẩm được chọn Active mới thể hiện trong trang sản phẩm</li>
                        <li>Cột "Gallery": Link tới trang quản lý hình ảnh & videos chi tiết của từng sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>*@
    <!-- /.row -->
</section>
<!-- /.content -->
<input type="hidden" id="categoryId" value="@categoryId" />

@section scripts
{
    <script type="text/javascript" src="~/Areas/Admin/Scripts/product.list.js"></script>
    <script>
        $(document).ready(function () {
            $(".sidebar-menu li.liProduct").addClass("active");
        });

        // dropdownlist onchange event
        function onChange() {
            var value = $("#listCategories").val();
            if (value >= 0) {
                window.location = "/admin/product/index?categoryId=" + value;
            }
        };
    </script>
}

